.env
img/Element.zip
implementation_plan.md
walkthrough.md
env
.env
.env.*
!.env.example
*__pycache__/
*.py[cod]
Feeback-section_implementation_plan.md
Feeback-section_walkthrough.md
.codex
ElementModels.md
run_all.bat
SessionCookiesRegistration.md
SourceAndElement.md
NINJAMaster/db.sqlite3
.hintrc
neglectedfiles
